---
import ThemeToggle from "./ThemeToggle.astro";
import colors from "../config/colors.json";
import type {
	BaseNavigationProps,
	NavigationItem,
	SocialLink,
} from "../../utils/types/ui";

type Props = BaseNavigationProps;

const navigationItems: NavigationItem[] = [{ name: "Apps", url: "/apps/" }];

const socialIcons: SocialLink[] = [
	{
		name: "YouTube",
		url: "https://www.youtube.com/@webindefr",
		icon: "i-uil-youtube",
	},
	{
		name: "Twitter",
		url: "https://x.com/webindefr",
		icon: "i-uil-twitter",
	},
	{
		name: "Instagram",
		url: "https://www.instagram.com/webindefr",
		icon: "i-uil-instagram",
	},
	{
		name: "LinkedIn",
		url: "https://www.linkedin.com/company/webindefr",
		icon: "i-uil-linkedin",
	},
	{
		name: "Facebook",
		url: "https://www.facebook.com/dianewebinde/",
		icon: "i-uil-facebook",
	},
	{ name: "RSS", url: "/feed.xml", icon: "i-uil-rss" },
];

const { pageTitle } = Astro.props;
---

<style define:vars={{ softWhite: colors.softWhite }}>
	header {
		border-bottom: 4px solid black;
		background-color: white;
	}

	:global(.dark) header {
		border-color: var(--softWhite);
		background-color: black;
		color: var(--softWhite);
	}

	.mobile-link {
		color: black;
	}

	:global(.dark) .mobile-link {
		color: var(--softWhite);
	}
</style>

<header class="flex justify-between p-6 items-center">
	{pageTitle && <h1 class="hidden">{pageTitle}</h1>}
	<a href="/" title="Back to Home">
		<p class="righteous md:text-5xl">Web'Indé</p>
	</a>
	<nav class="hidden md:inline-block">
		<h2 class="hidden">Navigation</h2>
		<ul class="flex gap-8 poppins items-center">
			{
				navigationItems.map((item) => (
					<li>
						<a
							class="text-lg font-medium hover:text-green dark:hover:text-green-400 hover:underline transition-all duration-150 ease-in-out"
							href={item.url}
							title={`Go to ${item.name}`}
						>
							{item.name}
						</a>
					</li>
				))
			}
			{
				socialIcons.map((item) => (
					<li>
						<a
							href={item.url}
							class="hover:text-green dark:hover:text-green-400 hover:underline transition-all duration-150 ease-in-out"
							target="_blank"
							title={`'See @ElianCodes on ${item.name}`}
						>
							<div class:list={[item.icon, "w-6 h-6"]} />
						</a>
					</li>
				))
			}
			<li>
				<ThemeToggle />
			</li>
		</ul>
	</nav>
	<nav class="md:hidden flex items-center gap-4">
		<h2 class="hidden">Mobile Navigation</h2>
		<ThemeToggle />
		<ul>
			<li><a href="/" class="mobile-link">Retour</a></li>
		</ul>
	</nav>
</header>
