---
import LocalFont from "./LocalFont.astro";
import type { BaseProps } from "../../utils/types/props";
import { ClientRouter } from "astro:transitions";

type Props = Pick<
	BaseProps,
	"title" | "description" | "ogImage" | "metaRobots"
>;

const canonicalURL = Astro.site
	? new URL(Astro.url.pathname, Astro.site)
	: Astro.url.pathname;

// Gestion sécurisée de l'URL OG
const defaultOgImage = "/v1/generate/og/default.png";
const ogImagePath =
	typeof Astro.props.ogImage === "string"
		? Astro.props.ogImage
		: defaultOgImage;

// Construction de l'URL OG complète de manière sécurisée
const fullOgImageUrl = Astro.site
	? new URL(ogImagePath.replace(/^\//, ""), Astro.site)
	: new URL(ogImagePath, "https://gocharbon.com");

const { title, description, metaRobots = "index, follow" } = Astro.props;
---

<head>
	<LocalFont />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
	<meta name="robots" content={metaRobots} />
	<ClientRouter />

	<link
		rel="alternate"
		href="https://gocharbon.com/feed.xml"
		type="application/rss+xml"
	/>

	<meta name="title" content={`CHARBON | ${title}`} />
	<meta name="description" content={description} />

	<meta property="og:type" content="website" />
	<meta property="og:url" content={canonicalURL} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={fullOgImageUrl} />

	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={canonicalURL} />
	<meta property="twitter:title" content={title} />
	<meta property="twitter:description" content={description} />
	<meta property="twitter:image" content={fullOgImageUrl} />

	<link rel="canonical" href={canonicalURL} />
	<link rel="icon" type="image/svg" href="/favicon.svg" />

	<title>CHARBON | {title}</title>

	<slot />
</head>
