---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Default.astro";
import PostList from "../../components/components/PostList.astro";
import Button from "../../components/components/Button.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

	return tags.map((tag) => {
		// Remplacer les caractères spéciaux par des valeurs sûres pour l'URL
		const safeTag = tag
			.toLowerCase()
			.replace(/\//g, "-slash-")
			.replace(/\s/g, "-");
		return {
			params: { tag: safeTag },
			props: {
				posts: posts.filter((post) =>
					post.data.tags
						.map((t) => t.toLowerCase())
						.includes(tag.toLowerCase()),
				),
				originalTag: tag,
			},
		};
	});
}

interface Props {
	tag: string;
	posts: CollectionEntry<"posts">[];
	originalTag: string;
}

const { tag } = Astro.params;
const { posts, originalTag } = Astro.props;
---

<Layout
	title={`Posts tagged with ${originalTag}`}
	description={`Posts tagged with ${originalTag}`}
	pageTitle={`Web'Indé | Posts tagged with ${originalTag}`}
>
	<main class="p-6 bg-purple grid gap-4">
		<div>
			<Button href="/posts/">&larr; {originalTag} | Retour</Button>
		</div>
		<PostList posts={posts} />
	</main>
</Layout>
