---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Default.astro';
import PostList from '@components/posts/PostList.astro';
import { Button } from '@eliancodes/brutal-ui';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts').then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag: string) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    const displayTag = tag.charAt(0).toUpperCase() + tag.slice(1);
    const encodedTag = tag.replace(/\//g, '-slash-');
    return {
      params: { tag: encodedTag },
      props: {
        tag: encodedTag,
        displayTag,
        posts: allPosts.filter((post) =>
          post.data.tags.map((t: string) => t.toLowerCase()).includes(tag)
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  displayTag: string;
  posts: CollectionEntry<'posts'>[];
}

const { tag, displayTag, posts } = Astro.props;
---

<Layout
  title={`Posts: ${displayTag}`}
  description={`Web'Indé | All posts tagged with ${displayTag}`}
  pageTitle={`Web'Indé | Posts tagged with ${displayTag}`}
>
  <main class='p-6 bg-purple grid gap-4'>
    <div>
      <Button href='/posts/'>&larr; {displayTag} | Retour</Button>
    </div>
    <PostList posts={posts} />
  </main>
</Layout>
