---
import BaseNavigation from "@components/components/BaseNavigation.astro";
import BaseFooter from "@components/components/BaseFooter.astro";
import BaseHead from "@components/components/BaseHead.astro";
import { fade } from "astro:transitions";
import type { BaseProps } from "../utils/types/props";
import "../styles/global.css";

type Props = BaseProps;

const {
	title,
	description,
	classList,
	pageTitle,
	ogImage,
	metaRobots = "index, follow",
} = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<BaseHead
			ogImage={ogImage}
			title={title}
			description={description}
			metaRobots={metaRobots}
		/>
	</head>

	<body class:list={[classList]}>
		<BaseNavigation {pageTitle} />
		<div transition:animate={fade({ duration: "0.3s" })}>
			<slot />
		</div>
		<BaseFooter />
		{
			import.meta.env.PROD && (
				<script async src="https://cdn.onthe.io/io.js/YyAMWtaLLPUi" />
			)
		}
	</body>
</html>
