---
import BaseNavigation from "../components/components/BaseNavigation.astro";
import BaseFooter from "../components/components/BaseFooter.astro";
import BaseHead from "../components/components/BaseHead.astro";
import type { BaseProps } from "../utils/types/props";
import "../styles/global.css";

type Props = BaseProps;

const {
	title,
	description,
	classList,
	pageTitle,
	ogImage,
	metaRobots = "index, follow",
} = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<BaseHead
			ogImage={ogImage}
			title={title}
			description={description}
			metaRobots={metaRobots}
		/>
	</head>

	<body class:list={[classList]}>
		<BaseNavigation {pageTitle} />
		<div>
			<slot />
		</div>
		<BaseFooter />
		{
			import.meta.env.PROD && (
				<script async src="https://cdn.onthe.io/io.js/YyAMWtaLLPUi" />
			)
		}
		<script>
			import { useRandomColor } from "../composables/useRandomColor";
			const { getRandomColor } = useRandomColor();

			function updateBackgroundColor() {
				const isDark = document.documentElement.classList.contains("dark");
				document.body.style.backgroundColor = getRandomColor(isDark);
			}

			// Mettre à jour la couleur AVANT la transition
			document.addEventListener(
				"astro:before-preparation",
				updateBackgroundColor,
			);

			// Mettre à jour la couleur au changement de thème
			document.addEventListener("theme-changed", updateBackgroundColor);
		</script>
	</body>
</html>
