---
import type { CollectionEntry } from "astro:content";
import Layout from "./Default.astro";
import Content from "@components/components/PostContent.astro";
import SideBar from "@components/components/PostSideBar.astro";
import RecentPosts from "@components/components/RecentPosts.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	author: string;
	pubDate: Date;
	headings: Array<Object>;
	description: string;
	title: string;
	id: string;
	imgUrl: ImageMetadata;
}

const { author, pubDate, headings, description, title, id, imgUrl } =
	Astro.props;
const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);
---

<Layout title={title} description={description} ogImage={ogImage}>
	<div class="p-6 dark:bg-black" transition:name={`post-${id}`}>
		<main class="lg:grid lg:grid-cols-3 flex justify-center">
			<SideBar headings={headings as any[]} />
			<div class="col-span-2">
				<h1
					class="text-xl md:text-3xl font-bold mx-6 mb-2 md:my-4 poppins dark:text-[#FFD35AD9]"
					transition:name={`title-${id}`}
				>
					{title}
				</h1>
				<div
					class="rounded-lg border-3 border-black dark:border-white h-24 md:h-56"
				>
					<Image
						src={imgUrl}
						alt={title}
						width={800}
						height={400}
						class="rounded h-full w-full object-cover"
						transition:name={`image-${id}`}
					/>
				</div>
				<Content {pubDate} {author}>
					<slot />
				</Content>
			</div>
		</main>
		<section class="mt-12">
			<RecentPosts count={6} />
		</section>
	</div>
</Layout>

<style>
	::view-transition-old(*),
	::view-transition-new(*) {
		animation-duration: 0.3s;
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
</style>
