---
import Layout from './Default.astro';
import SideBar from '@components/posts/PostSideBar.astro';
import Content from '@components/posts/PostContent.astro';
import RecentPosts from '@components/generic/RecentPosts.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

interface Props {
  author: string;
  pubDate: Date;
  headings: unknown;
  description: string;
  title: string;
}

const { author, pubDate, headings, description, title } = Astro.props;
---

<Layout title={title} description={description} ogImage={ogImage}>
  <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center'>
    <SideBar headings={headings as any[]} />
    <Content {pubDate} {author}>
      <slot />
    </Content>
  </main>
  <section class='p-6'>
    <RecentPosts count={6} />
  </section>
</Layout>
